

APP_ENV=dev

EXPO_TUNNEL_SUBDOMAIN=classpy
EXPO_PACKAGER_HOSTNAME=https://classpy.preview.emergentagent.com
EXPO_PUBLIC_BACKEND_URL=https://classpy.preview.emergentagent.com
EXPO_USE_FAST_RESOLVER="1"
METRO_CACHE_ROOT=/app/frontend/.metro-cache

SUPABASE_URL_DEV=
SUPABASE_ANON_KEY_DEV=
SUPABASE_URL_STG=
SUPABASE_ANON_KEY_STG=
SUPABASE_URL_PROD=
SUPABASE_ANON_KEY_PROD=
